body{
    background-color: #E5E5E5;;
}

/*header´s style*/
* {
    box-sizing: border-box;
}
.top {
    width: 100%;
    height: 69px;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    font-family: 'Encode Sans', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.top h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

/* página inicial */

.home {
    padding-top: 100px;
    z-index: 1;
    margin: 0px 18px 0px 18px;
    border-radius: 5px;
}

.create-quizz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 1px dashed #D5D5D5;
    width: 100%;
}

.home p {
    font-size: 20px;
    color: #B9B9B9;
    padding: 20px;
    text-align: center;
}

.button-creat-quizz {
    width: 151px;
    height: 40px;
    font-size: 21px;
    border-radius: 50px;
    border: 1px dashed #EC362D;
    color: #EC362D;
}

.quizz-list {

}

.quizz-list h1 {
    font-weight: 700;
    width: 100%;
    margin-top: 35px;
    text-align: left;
}

/*screen3.1 style*/

.screen3-1 {
    display: none;
}

.screen3-1-info{
    display: flex;
    justify-content: center;
}

.screen3-1 h2{
    width: 200px;
    font-size: 20px;
    margin-top: 106px;
    line-height: 23px;
    display: flex;
    color: #000000;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    display: none;
}

.basic-infos{
    width: 100%;
    height: 256px;
    margin-top: 29px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.basic-info-input{
    display: flex;
    justify-content: center;
}

.first-info{
    width: 341px;
    height: 46px;
    margin-top: 21px;
    font-size: 19px;
    line-height: 22px;
    border-radius: 5px;
    color: #D1D1D1;
    font-style: italic;
    font-weight: normal;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    font-family: 'Encode Sans', sans-serif;
}

.info-secreen3-1{
    width: 341px;
    height: 46px;
    margin-top: 9px;
    font-size: 19px;
    line-height: 22px;
    border-radius: 5px;
    color: #D1D1D1;
    font-style: italic;
    font-weight: normal;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    font-family: 'Encode Sans', sans-serif;
}

.screen3-1 button{
    width: 324px;
    height: 54px;
    margin-top: 29px;
    font-size: 18px;
    line-height: 21px;
    border-radius: 15px;
    display: flex;
    color: #FFF5F4;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    font-family: 'Encode Sans', sans-serif;
}
