* {
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;;
}

.hidden{
    display: none;
}

/*header´s style*/

.top {
    width: 100%;
    height: 69px;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    font-family: 'Encode Sans', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.top h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

/* home page */

.home {
    padding-top: 100px;
    margin: 0px 18px 0px 18px;
    border-radius: 5px;
}

.create-quizz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #D5D5D5;
    width: 100%;
}

.home p {
    font-size: 20px;
    color: #B9B9B9;
    padding: 20px;
    text-align: center;
}

.button-creat-quizz {
    width: 151px;
    height: 40px;
    font-size: 21px;
    border-radius: 50px;
    border: 1px dashed #EC362D;
    color: #EC362D;
}

.quizz-list h1 {
    font-weight: 700;
    width: 100%;
    margin-top: 35px;
    text-align: left;
    font-size: 20px;
    margin-bottom: 14px;
}

.titulo-quizz {
    position: absolute;
    left: 10;
    bottom: 10px;
}

.titulo-quizz p {
    color: #FFFFFF;
}



